/_scratch/PIA01322.tif
/_scratch/PIA01384.tif
/_scratch/PIA07806.tif
/_scratch/PIA10181.tif
/_scratch/PIA12831.tif
/_scratch/PIA14400.tif

/_scratch/spritesheet.ai

/_scratch/eso1213a.jpg
/_scratch/NatureForests0042_L.jpg
