<div 
	class="direction direction_{{number}} first" 
	data-number="{{number}}"
	data-want="0">
	
	<h1>AB.JECT</h1>

	<p>is a more thoughtful way to find things. </p>

	<p>Press enter once for a list of suggestions.</p>
	<p><span>enter</span></p>

	<p>Press enter twice to search.</p>
	<p><span>enter</span> + <span>enter</span></p>

	<p>Press command + enter to add a new direction.</p>
	<p>
		<span class="mac">cmd</span>
		<span class="win">ctrl</span> + 
		<span>enter</span>
	</p>

	<button>Okay, got it – don't show this next time</button>

	<p>&nbsp;</p>

	<p><b>AB.JECT</b> is an experiment by <a href="mailto:e@ject.ch">Mike Fischer</a>.</p>

	<p>It is set in Roboto thin and regular.</p>

	<p>It makes use of Google’s suggestqueries engine, Google’s search API and handlebars.js.</p>
	
	<p>&copy; 2015 Mike Fischer.</p>

</div>